body { 
    font-family: sans-serif;
  }
  #flex-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80vw;
    height: max-content;
    background-color: rgb(200, 220, 255);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .box {
    display: flex;
    width: 150px;
    height: 145px;
    border: 5px solid black;
    margin: 0px 0;
    color: red;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }
   .skyblue{
      background-color: skyblue;
    }
    .skyblue{
      background-color: skyblue;
    }
    .skyblue{
      background-color: skyblue;
    }
    .skyblue{
      background-color: skyblue;
    }
    .skyblue{
      background-color: skyblue;
   }
  
  
  .container{
    flex-wrap: nowrap | wrap | wrap-reverse; 
}
  nowrap default all flex items will be on
  
  